-- Câu 1 -- Tao CSDL
-- 1.1 -- Tao bang
Create database QLDATBAO
Go
use QLDATBAO
Go

CREATE TABLE KHACHHANG(
	MAKH NCHAR(5) NOT NULL,
	TENKH	NVARCHAR(50) NOT NULL,
	DIACHI NVARCHAR(50) NOT NULL,
	DIENTHOAI NVARCHAR(15)
	CONSTRAINT PK_KHACHHANG PRIMARY KEY (MAKH)
)
Create TABLE PHIEUDATBAO(
	SOPHIEU NCHAR(5) NOT NULL,
	MAKH NCHAR(5) NOT NULL,
	NGAYDAT DATETIME NOT NULL,
	TONGSOTIEN MONEY 
	CONSTRAINT PK_PHIEUDATBAO PRIMARY KEY (SOPHIEU)
)

CREATE TABLE CTDATBAO(
	MATC NCHAR (3) NOT NULL,
	SOPHIEU NCHAR(5) NOT NULL,
	THANGBD INT NOT NULL,
	THANGKT INT NOT NULL,
	SOTIEN MONEY NOT NULL
	CONSTRAINT PK_CTDATBAO PRIMARY KEY (MATC,SOPHIEU)
)

CREATE TABLE  TAPCHI(
	MATC NCHAR (3) NOT NULL,
	TENTC NVARCHAR(50)NOT NULL,
	LOAITC NCHAR(1) NOT NULL,
	NGAYPH NVARCHAR(20) NOT NULL,
	NHAXB NVARCHAR(50)
	CONSTRAINT PK_TAPCHI PRIMARY KEY (MATC)
)

-- 1.2 -- TAO QUAN HE
ALTER TABLE CTDATBAO 
	ADD CONSTRAINT FK_CTDATBAO_TAPCHI FOREIGN KEY (MATC) REFERENCES TAPCHI(MATC)

ALTER TABLE CTDATBAO 
	ADD CONSTRAINT FK_CTDATBAO_PHIEUDATBAO FOREIGN KEY (SOPHIEU) REFERENCES PHIEUDATBAO(SOPHIEU)

ALTER TABLE PHIEUDATBAO 
	ADD CONSTRAINT FK_PHIEUDATBAO_KHACHHANG FOREIGN KEY (MAKH) REFERENCES KHACHHANG(MAKH)
-- 1.3 -- Ð? DL
-- TAPCHI
INSERT INTO TAPCHI VALUES ('N01',N'Tiếp thị và gia đình','N',N'1,15',N'')
INSERT INTO TAPCHI VALUES ('N02',N'PC World','N',N'17',N'')
INSERT INTO TAPCHI VALUES ('N03',N'Tuổi trẻ cười','N',N'2',N'')

-- KHACHHANG
INSERT INTO KHACHHANG VALUES ('KH001',N'Nguyễn Minh Triết',N'Cu xá Bắc Hải, TPHCM','8623457')
INSERT INTO KHACHHANG VALUES ('KH002',N'Lê Thu Dung',N'120 Nguyễn Du,TPHCM','8553311')
INSERT INTO KHACHHANG VALUES ('KH003',N'Thạch Phuong Anh',N'375 Ðiên Biên Phủ, TPHCM','5113355')

-- PHIEUDATBAO
INSERT INTO PHIEUDATBAO VALUES ('PH001','KH001','01/15/2016',0)
INSERT INTO PHIEUDATBAO VALUES ('PH002','KH002','02/27/2016',0)
INSERT INTO PHIEUDATBAO VALUES ('PH003','KH003','03/05/2016',0)

--CTDATBAO
INSERT INTO CTDATBAO VALUES ('N01','PH001',2,6,52000)
INSERT INTO CTDATBAO VALUES ('N02','PH001',2,5,41500)
INSERT INTO CTDATBAO VALUES ('T01','PH001',2,8,55000)

